@page
@model ClutchCodersWebApp.Pages.PaymentCards.IndexModel

@{
    ViewData["Title"] = "Index";
}

<header class="jumbotron">
    <h1>Customer Payment Details</h1>
</header>

<p>
    <a class="btn btn-outline-success" asp-page="Create">Add New</a>
</p>
<table class="table table-bordered table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentCard[0].CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentCard[0].NameOnCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentCard[0].ExpiryYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentCard[0].ExpiryMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentCard[0].SecurityCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PaymentCard) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOnCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityCode)
            </td>
            <td>
                <a class="btn btn-info" asp-page="./Edit" asp-route-id="@item.CardId">Edit</a> |
                <a class="btn btn-outline-info" asp-page="./Details" asp-route-id="@item.CardId">Details</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.CardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
