@page
@model ClutchCodersWebApp.Pages.Addresses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<header class="jumbotron">
    <h1>Customer Details</h1>
</header>

<p>
    <a class="btn btn-success" asp-page="Create">Create New</a>
</p>
<table class="table table-bordered table-dark table-hover" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address[0].HouseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address[0].Postcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Address) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HouseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                <a class="btn btn-info" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-outline-info" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
